<!DOCTYPE html>
<html>
<body>


<div class="wrapper">
    <!-- Header -->
    <div class="header">
      <div class="blur"></div>
      <div class="nav">
        <div><a href="#">About</a></div>
        <div><a href="#">Work</a></div>
      </div>
    </div>
  
    <!-- Background Image -->
    <div class="hero">
      <div class="background move-background hero-image"></div>
    </div>
  
    <!-- Center Text -->
    <div class="move-background center">
      <p class="no-select">GO AWAY</p>
    </div>
  </div>



</body>
</html>